.navBar {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.navbar--img {
    position: relative;
    right: 130px;
}

nav a {
    text-decoration: none;
    color: #585858;
    font-size: 22px;
}

nav a:hover {
    color: #dc2720;
}

.hr {
    margin-bottom: 0px;
}