#navBar {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-around;
}

.categorias {
    list-style: none;
    display: none;
}

.categoria:hover .categorias{
    display: block;
}

nav a {
    text-decoration: none;
    color: #585858;
    font-size: 22px;
}

nav a:hover {
    color: red;
}